# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:** 
 * List popular languages for Data Science
 * List of commonly used libraries for Data Science
 * Some arithmetic calculations

Some of the popular languages that Data Scientists use are:

1. Julia
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Tidyverse
2. Pandas
3. Matplotlib

df['Data'Science_Tools'] = Python

 | Column 1 |
 |----------|
 | RStudio| 
 | Apache Spark|
 | TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author

Kaan OÄŸuzhan ALBAY